__pycache__/
*.py[cod]
*.so
.Python

.pytest_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/

.venv/
venv/
env/

.ipynb_checkpoints/

.idea/
.vscode/

.DS_Store
Thumbs.db

*.joblib
*.pkl
